.container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.title{
    color: rgb(89, 221, 177);
}

.photo{
    max-width: 100%;
    border-radius: 5px;
    height: 170px;
}

.descriptionS{
    color: #6d6d6d;
    font-size: 12px;
}

.descriptionL{
    font-size: 15px;
}

.bottomContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.link{
    color: #888888;
    text-decoration: none;
    word-break: break-all;
    margin-top: 10px;
}

@media (max-width: 768px){
    .container{
        max-width: 400px;
    }
}
@media (min-width: 768px) and (max-width: 1024px){
    .container{
        max-width: 400px;
    }
}