.container{
    padding: 20px 12%;
}

.title{
    font-weight: 400;
    font-size: 25px;
    margin-left: 20px;
    margin-bottom: 50px;
}

.item{
    margin-bottom: 25px;
}

.itemHeader{
    display: flex;
    align-items: center;
    gap: 5px;
}