.container{
    margin-right: 20px;
}

.itemHeader{
    display: flex;
    align-items: center;
    gap: 5px;
}

.itens{
    display: flex;
    gap: 30px;
}


@media (max-width: 768px){
    .container{
        margin-right: 0;
        margin-bottom: 30px;
    }
    .itens{
        justify-content: center;
    }
    .itemHeader{
        justify-content: center;
    }
}